PORT=4000
MONGO_URI=mongodb+srv://admin:admin@cluster0.hgvxk3p.mongodb.net/token_system?appName=Cluster0&retryWrites=true&w=majority
# Get this from MongoDB Atlas -> Connect -> Drivers
JWT_SECRET=replace_with_a_long_random_string_at_least_32_chars
